.loading {
  color: #999;
  text-align: center;
}
footer {
  color: #999;
  font-size: 80%;
  text-align: right;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 50px;
  z-index: 100;
  background: rgba(255,255,255,0.7);
}
.modal {
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
  margin: 0;
  position: static;
  display: flex;
  flex-direction: column;
}
.modal-body {
  flex: 1;
  display: flex;
  max-height: none;
}
.pdf-viewer-frame {
  flex: 1;
  width: 100%;
}
.attachment-thumbnail-container {
  padding: 20px;

}
.attachment {
  display: block;
  width: 100%;
  padding: 20px;
  position: relative;
}
.attachment:hover {
  background: #efefef;
}
.attachment.loading:before {
  content: '';
  position: absolute;
  background: url(/agent/assets/icons/spinners/dotted_bar-8bfc80636ba5c9ff9b7e2900b78e568b.gif) no-repeat;
  width: 32px;
  height: 11px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.attachment img {
  margin-bottom: 8px;
}
